{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 align="center">About / Frequently Asked Questions</h1><br><br>
    <div id="accordian">
        <div class="card">
            <div class="card-header" id="h1">
                <button class="btn" type="button" data-toggle="collapse" data-target="#q1" aria-expanded="true"
                        aria-controls="q1">
                    <h5>What is PepperMint?</h5>
                </button>
            </div>
            <div id="q1" class="collapse" aria-labelledby="h1" data-parent="#accordian">
                <div class="card-body">
                    PepperMint is a personal finance system designed to help you keep track of your money more
                    easily. We remind you when you are approaching your budgets to help curb your spending.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="h2">
                <button class="btn" data-toggle="collapse" data-target="#q2" aria-expanded="false"
                        aria-controls="q2">
                    <h5>How do I set my budget?</h5>
                </button>
            </div>
            <div id="q2" class="collapse" aria-labelledby="h2" data-parent="#accordian">
                <div class="card-body">
                    When you go into your profile, if you haven't already set your budget there will be two fields.
                    The first asks for your daily budget, and the second asks for your monthly budget. Once you
                    submit these fields, you'll have set your budgets. You can also change your budget once
                    submitted.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="h3">
                <button class="btn" data-toggle="collapse" data-target="#q3" aria-expanded="false"
                        aria-controls="q3" style="text-align: left">
                    <h5>How do I view more information about my expenses?</h5>
                </button>
            </div>
            <div id="q3" class="collapse" aria-labelledby="h3" data-parent="#accordian">
                <div class="card-body">
                    To view more information about your expenses, just click on that expense in your profile page.
                    This will bring up more information about each expense. If you would like to view more about
                    your spending habits, go to the Trends page.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="h4">
                <button class="btn" data-toggle="collapse" data-target="#q4" aria-expanded="false"
                        aria-controls="q4">
                    <h5>How much does it cost?</h5>
                </button>
            </div>
            <div id="q4" class="collapse" aria-labelledby="h3" data-parent="#accordian">
                <div class="card-body">
                    PepperMint is 100% free!
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
