{% extends 'base.html' %}

{% block style %}
<style>
    body  {
      background-image: url("static/home-bg.jpeg");
      background-color: #cccccc;
    }
</style>
{% endblock %}

{% block content %}
    <h5 class="display-4 font-weight-bold text-center text-white" style="-webkit-text-stroke: 3px red">
        Welcome to PepperMint.
    </h5>

    <br>

    <h6 class="display-4 font-weight-bold text-center text-white" style="-webkit-text-stroke: 3px black">
        Control your money! Save yourself from debt!
    </h6>

    <br>

    <p class="text-white text-center bg-secondary rounded p-3" style="margin-left: 10%; margin-right: 10%;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a orci scelerisque,
        efficitur erat id, convallis sem. Nulla vel erat leo. Maecenas egestas tellus elit,
        eget molestie nibh tempus eu. Pellentesque sollicitudin faucibus augue, molestie eleifend
        libero. Phasellus nec enim dui. Class aptent taciti sociosqu ad litora torquent per
        conubia nostra, per inceptos himenaeos. Mauris sollicitudin risus sed dui finibus, in
        ultricies lorem consequat. Morbi vestibulum a metus sit amet vestibulum. Curabitur
        facilisis leo nunc, et tristique tellus tincidunt eleifend. Etiam eget velit eu lectus
        maximus iaculis eu eu est. Quisque nec hendrerit erat, et mattis metus. Mauris finibus
        tempus porta. Nulla ullamcorper nisi sit amet felis molestie porta. Phasellus accumsan
        leo nunc, sit amet bibendum nisl varius nec. Nullam sit amet fringilla metus, a cursus
        metus.
    </p>

    <br>

    <p class="text-white bg-secondary rounded p-3" style="margin-left: 10%; margin-right: 10%; font-size: 30px;">
        Set your budget for the day and the month.
        <div class="text-center">
          <img src="../static/Profile.png">
        </div>
    </p>

    <br>

    <p class="text-white bg-secondary rounded p-3" style="margin-left: 10%; margin-right: 10%; font-size: 30px;">
        Track your expenses.
    <div class="text-center">
        <img src="../static/Expense.png">
    </div>
    </p>

    <p class="text-white bg-secondary rounded p-3" style="margin-left: 10%; margin-right: 10%; font-size: 30px;">
        View your history and analyze the trends.
    <div class="text-center">
        <img src="">
    </div>
    </p>
{% endblock %}