<!DOCTYPE html>
<html lang="en">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    {% block style %}
    <style>
        body  {
          background-image: url("static/home-bg.jpeg");
          background-color: #cccccc;
        }
    </style>
    {% endblock %}

    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        {% block heading %}
        {% endblock %}
    </head>

    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <img src="../static/logo.png" width="30" height="30" alt="logo">
            <a class="navbar-brand" href={{ url_for('home') }}>PepperMint</a>
            <button id="hamburger" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Welcome</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                        <li class="nav-item">
                            <div class="row" id="authentication" style="width:11rem">
                                <a class="nav-link mx-auto" href={{ url_for('signup') }}>Sign Up</a>
                                <a class="nav-link disabled">or</a>
                                <a class="nav-link mx-auto" href={{ url_for('login') }}>Log In</a>
                            </div>
                        </li>
                </ul>
            </div>
        </nav>

        <br><br><br>

        {% for type,message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ type }} mx-auto alert-dismissable" role="alert" style="width:80%;text-align:center">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        {% block content %}
        <div class="mx-auto" style="width: 200px;">
          <h1><high><font color="red"></font></high></h1><br>
        </div>
        <h3 class="display-4 font-weight-bold text-center text-white" style="text-shadow: -3px -3px 0 #F00, 3px -3px 0 #F00, -3px 3px 0 #F00, 3px 3px 0 #F00;">
        Welcome to PepperMint.
        </h3>
        <br>
        <br>
         <h7 class="display-4 font-weight-bold text-center text-white" style="text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;"> Control your money! Save yourself from debt!</h7>
         <br>
              <br>
              <!-- description -->
              <!-- description -->
              <p class="text-white text-center bg-secondary rounded p-3" style="margin-left: 10%; margin-right: 10%;">
                With PepperMint, we bring to you the right tools to manage your personal finances.
                Some people use Excel, some use a paper and pen, and some use personal accounting software--
                but most of us just don’t know what to do. Our financial lives are complicated-- cash, cards, savings, debt--
                and we’re not all born gifted accountants.
                <br>
                So we-- the MoneyMunchers-- embarked on a mission to solve our collective problem with our minimum yet powerful skills.
                And thus PepperMint was born-- a simple, seamless, and intuitive tool to manage your personal finances. We want to give you
                real "control" over your money; what comes in, what goes out, what you have saved, what you have budgeted. We want to give
                you the tools to understand where your money goes, and empower you to set and achieve financial goals.
              </p>

              <br>

              <p class="text-white bg-secondary rounded p-3" style="margin-left: 10%; margin-right: 10%; font-size: 30px;">
                  Set your budget for the day and the month. </p>
                  <div class="text-center">
                    <img src="../static/Profile.png">
                  </div>

                <br>

                <p class="text-white bg-secondary rounded p-3" style="margin-left: 10%; margin-right: 10%; font-size: 30px;">
                  Track your expenses.</p>
                  <div class="text-center">
                    <img src="../static/Expense.png">
                  </div>

                  <br>

                <p class="text-white bg-secondary rounded p-3" style="margin-left: 10%; margin-right: 10%; font-size: 30px;">
                  View your history and analyze the trends. </p>
                  <div class="text-center">
                    <img src="">
                  </div>

                <br>

              <br>

    {% endblock %}

        <br><br><br>

        <footer class="footer fixed-bottom bg-light">
            <br>
            <div style="text-align: center">
                <span class="text-muted">
                    &copy; MoneyMunchers 2019
                </span>
            </div>
            <br>
        </footer>
    </body>

    {% block script %}
    {% endblock %}

</html>
