{% extends 'base.html' %}

{% block style %}
<style>
    input[type=submit] {
        display: none;
    }
    .card {
        margin: 10px;
    }
    .column {
        width: 50%;
    }
</style>
{% endblock %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block content %}
<div class="container">
    <h1 align="center">Welcome, {{ user.username }}</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="card-header">Daily Budget</div>
                    <div class="card-body">
                        {% if user.daily_budget is not none %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    Remaining Budget: {{ user.daily_balance() }}
                                </li>
                                <li class="list-group-item">
                                    Total Budget: {{ user.daily_budget }}
                                </li>
                            </ul>
                        {% else %}
                            <h5 class="card-title">You haven't set a daily budget!</h5>
                            <button class="btn btn-primary" type="button" data-target="#daily" data-toggle="collapse" aria-expanded="false" aria-controls="daily">
                                Set one now
                            </button>
                            <div class="collapse" id="daily">
                                <hr>
                                <form method="POST">
                                    {{ daily.csrf_token }}
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        {{ daily.amount() }}
                                    </div>
                                    <div class="input-group-append">{{ daily.submit() }}</div>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-header">Monthly Budget</div>
                    <div class="card-body">
                        {% if user.monthly_budget is not none %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    Remaining Budget: {{ user.monthly_balance() }}
                                </li>
                                <li class="list-group-item">
                                    Total Budget: {{ user.monthly_budget }}
                                </li>
                            </ul>
                        {% else %}
                            <h5 class="card-title">You haven't set a monthly budget!</h5>
                            <button class="btn btn-primary" type="button" data-target="#monthly" data-toggle="collapse" aria-expanded="false" aria-controls="monthly">
                                Set one now
                            </button>
                            <div class="collapse" id="monthly">
                            <hr>
                                <form method="POST">
                                    {{ monthly.csrf_token }}
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        {{ monthly.amount() }}
                                    </div>
                                    <div class="input-group-append">{{ monthly.submit() }}</div>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card" style="width:100%">
                <div class="card-header" align="center">Expense History</div>
                <div class="card-body" style="text-align: center">
                    {% if user.expenses|length > 0 %}
                        <ul class="list-group list-group-flush">
                        {% for expense in user.expenses %}
                            <li class="list-group-item">
                                <button class="btn" type="button" data-toggle="collapse" data-target="#{{expense.id}}" aria-expanded="false" aria-controls={{expense.id}}>
                                  ${{ expense.amount }} at {{ expense.place }}
                                </button>
                                <div class="collapse" id={{expense.id}}>
                                  <div class="card card-body">
                                    Amount: ${{ expense.amount }}<br>
                                    Location: {{ expense.place }}<br>
                                    Date/Time: {{ expense.date }}<br>
                                    Type: {{expense.type}}<br>
                                  </div>
                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <i>You haven't recorded any expenses</i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="../static/js/profile.js"></script>
{% endblock %}
