{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="card mx-auto" style="width:50%">
    <div class="card-body">
        <form method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="username">{{ form.username.label }}</label>
                {{ form.username() }}
            </div>
            <div class="form-group">
                <label for="password">{{ form.password.label }}</label>
                {{ form.password() }}
            </div>
            <div class="form-group">
                <label for="repeat">{{ form.repeat.label }}</label>
                {{ form.repeat() }}
            </div>
            <div>{{ form.submit() }}</div>
        </form>
    </div>
</div>
{% endblock %}

{% block style %}
<script src="../static/js/signup.js" defer></script>
{% endblock %}